/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}


header {
  background-image: linear-gradient(#1c5380, #06365f);
  height: 20rem;
}

.brand {
  position: absolute;
  clear: none;
	margin: 0;
	width: 100%;
	height: 230px;
	background-color: #06365f;
}

.logoInsta {
  position: absolute;
  padding-left: 638px;
  padding-top: 191px;
  width: 285px;
  height: 72px;
}

.login {
  display: block;
  float: right;
  font-size: 20px;
  background-color: #1c5380;
  color: white;
  position: absolute;
  top: 207px;
  right: 628px;
  font-weight: bold;
  padding: 8px 14px;
  border: 1px solid #06365f;
  border-radius: 4px;
}

.login img {
  width: 30px;
  vertical-align: middle;
  padding-right: 15px;
}



main {
  display: inline-flex;
}

.phones {
  width: 50rem;
  text-align: center;
  position: relative;
  top: -11em;
  }

  .mainImage  {
    color: #06365f;
    font-style: bold;
    position: absolute;
    left: 590px;
    top: 190px;
  }


.alotoftext {
  background: url("../images/frame.png") no-repeat;
  padding: 29px;
  color: #06365f;
	/*font-style: bold; */
	position: absolute;
	left: 590px;
  top: 272px;
  margin-left: 50px;
}

.alotoftext h1 {
  color: #06365f;
  font-size: 27px;
  margin-top: 0;
  line-height: 1.3;
}

.text {
  width: 550px;	
	font-size: 16px;
	position: absolute;	
	top: 107px;
}

.icons{ 
  position: inline;
	left: 590px;
	bottom: 70px;
}

.icons img {
  
  width: 200px;
	height: 60px;
  padding-right: 40px;
  margin-top: 250px;
}



footer ul {
  color: #1c5380;
  list-style-type:none; /* to remove the index */
  display: inline-flex; /* to have items in line */
  margin-left: 390px;
}

ul li {
  display: inline;
  text-align: center;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
  margin: 30px auto;
  text-transform: uppercase; 
  font-size: 12px;
  font-weight: 600;
  margin-right: 10px;
  padding: 0;
} 


.copyright {
  color: gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
  margin: 30px auto;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  margin-right: 10px;
  padding: 0;
}
